/* WELCOME */
.welcomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  letter-spacing: 0.5em;
  gap: 2em;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23132953' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;

  border-bottom: var(--primary) solid 0.25em;
  -webkit-box-shadow: 0px 10px 39px 22px var(--background-950);
  -moz-box-shadow: 0px 10px 39px 22px var(--background-950);
  box-shadow: 0px 10px 39px 22px var(--background-950);
}

.videoContainer > video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0.3em);
}

.welcomeContent {
  position: relative;
  width: 70%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;

  border: var(--primary) solid 0.25em;
  z-index: 5;
}

.welcomeContent video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcomeContent .blackScreen {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.welcomeContent h1,
.welcomeContent button {
  z-index: 20;
  text-align: center;
  text-transform: uppercase;
}

.welcomeContent button {
  width: 20%;
  height: 10%;
  min-width: 10em;
  font-weight: bold;
}

.separator {
  width: 70%;
  height: 5em;

  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 50em;
  min-width: 25em;

  background-image: url("decorator-hr-lg.webp");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;

  animation: fadeIn 5s ease;
  z-index: 99;
}

/* FEATURES */
.featuresContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-950);
  color: var(--text-200);

  border-bottom: var(--primary) solid 0.25em;
  -webkit-box-shadow: 0px 0px 25px 15px var(--background-950);
  -moz-box-shadow: 0px 0px 25px 15px var(--background-950);
  box-shadow: 0px 0px 25px 15px var(--background-950);

  background-image: radial-gradient(
    circle at 1px 1px,
    var(--background-800) 2px,
    transparent 0
  );
  background-size: 40px 40px;

  outline: var(--primary) solid 0.25em;
}

.featuresContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 31px 12px var(--background-950);
  -moz-box-shadow: inset 0px 0px 31px 12px var(--background-950);
  box-shadow: inset 0px 0px 31px 12px var(--background-950);
  z-index: -1;
}

.featuresList {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.featuresList h4 {
  padding: 0.4em;
  border-radius: 0.1em;
  text-transform: uppercase;
  transition: border 0.25s ease;
  font-size: 1.5em;
  text-align: center;
  border-bottom: transparent solid 0.3em;
}

.featuresList .active {
  border-bottom: var(--primary-600) solid 0.15em;
}

.featuresList h4:hover {
  cursor: default;

  border-bottom: var(--primary-600) solid 0.15em;
}

.currentFeature {
  width: 90%;
  height: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.currentFeature > div {
  position: relative;
  width: 40em;
  height: 40em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 5em;

  outline: var(--primary) solid 0.1em;

  background: linear-gradient(130deg, transparent 0%, var(--primary-900) 100%);
  background-position: 0% 0%;
  background-size: 200% 200%;

  transition: 1s ease;
}

.currentFeature > div:hover {
  background-position: 50% 50%;
}

.currentFeature > div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 105%;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  outline: var(--primary) solid 0.15em;
}

.currentFeature > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: rotate 60s linear infinite;

  outline: var(--primary) solid 0.15em;
}

.leftChain,
.rightChain {
  position: absolute;
  width: 0.25em;
  height: 100%;
  background-color: var(--primary);
}

.leftChain {
  top: 0;
  left: 15em;
}

.rightChain {
  top: 0;
  right: 15em;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.currentFeature h2 {
  text-transform: uppercase;
}

.currentFeature p {
  max-width: 50%;
  text-align: justify;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -90%);
  }

  to {
    opacity: 1;
  }
}

/* PRICING */
.pricingContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;

  background-image: url("data:image/svg+xml,%3Csvg width='88' height='24' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%231c3e7d' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");

  -webkit-box-shadow: inset 0px 0px 01px 30px var(--background-950);
  -moz-box-shadow: inset 0px 0px 101px 30px var(--background-950);
  box-shadow: inset 0px 0px 101px 30px var(--background-950);
}

.price {
  position: absolute;
  bottom: 2em;
  right: 2em;

  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.5em;

  transition: 0.3s ease;
}

.pricingContainer article:hover .price {
  transform: scale(1.2);
}

.pricingContainer > h1 {
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  color: var(--text);
}

.pricingContent {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at 1px 1px,
    rgba(255, 255, 255, 0.15) 2px,
    transparent 0
  );
  background-size: 40px 40px;
  background-position: 50% 50%;
  z-index: 10;
  transition: 0.3s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.pricingContent ul {
  list-style-type: "▶︎  ";
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 85%;
  margin-bottom: 2em;

  transition: 0.3s ease;
}

.pricingContainer article:hover ul {
  gap: 0.75em;
}

.pricingContent h3 {
  width: fit-content;
  margin-top: 1em;
  margin-left: 0.5em;

  transition: 0.3s ease;
}

.pricingContainer article:hover h3 {
  transform: scale(1.2);
}

.pricingContent p {
  margin-left: 1em;
  margin-top: 0.5em;
  font-style: italic;
  width: 80%;

  transition: 0.3s ease;
}

.pricingContainer article:hover .pricingContent p {
  transform: translateY(0.3em) scale(1.075);
}

.pricingContainer article:hover > .pricingContent {
  background-position: 25% 50%;
}

.pricingContainer article {
  position: relative;
  width: 20%;
  height: 60%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  transition: 0.3s ease;
}

.pricingContainer article::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-size: 300% 300%;
  background-position: 0% 0%;

  transition: 0.3s ease;
}

.pricingContainer article:hover::before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
  -webkit-box-shadow: 0px 18px 25px 0px var(--background-950);
  -moz-box-shadow: 0px 18px 25px 0px var(--background-950);
  box-shadow: 0px 18px 25px 0px var(--background-950);
}

.pricingContainer article:hover {
  cursor: pointer;
}

.pricingContainer article:active {
  transform: scale(0.98);
}

.firstPricing {
  outline: var(--secondary) solid 0.25em;
}

.firstPricing::before {
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    gray 66%,
    rgb(28, 28, 28) 83.5%,
    black 100%
  );
}

.secondPricing {
  outline: var(--primary) solid 0.25em;
}

.secondPricing::before {
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    var(--primary-300) 66%,
    var(--primary-400) 83.5%,
    var(--primary-500) 100%
  );
}

.featuredPricing {
  outline: var(--accent) solid 0.25em;
}

.featuredPricing::before {
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    var(--accent-600) 66%,
    var(--accent-700) 83.5%,
    var(--accent-800) 100%
  );
}

.secondPricing:hover {
  color: black;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1500px) {
  .leftChain {
    top: 0;
    left: 2.5em;
  }

  .rightChain {
    top: 0;
    right: 2.5em;
  }
}

@media only screen and (max-width: 1000px) {
  .currentFeature > div {
    position: relative;
    width: 20em;
    height: 20em;
  }

  .currentFeature h2 {
    font-size: 1em;
  }

  .currentFeature p {
    font-size: 0.8em;
  }

  .leftChain,
  .rightChain {
    display: none;
  }

  .pricingContainer {
    height: fit-content;
  }

  .price {
    top: 2em;
  }

  .pricingContainer article:hover .price {
    transform: none;
  }

  .pricingContainer > h1 {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    transform: none;
  }

  .pricingContainer {
    flex-direction: column;
    gap: 2em;
  }

  .pricingContainer article {
    width: 70%;
    height: fit-content;
  }

  .pricingContainer article:last-child {
    margin-bottom: 5em;
  }
}

@media only screen and (max-width: 700px) {
  .welcomeContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    border: none;
  }

  .welcomeContent video,
  .welcomeContent .blackScreen {
    opacity: 0;
  }

  .videoContainer > video {
    filter: none;
  }

  .videoContainer .blackScreen {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .separator {
    width: 95%;
  }

  .featuresList h4 {
    font-size: 0.8em;
  }
}
